services:
  postgres:
    image: postgres:15
    env_file:
      - postgresql.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  

  app:
    build: .
    ports:
      -  "3001:3001"    
    env_file:
      - .env  
    depends_on:
      - postgres  
    restart: unless-stopped


volumes:
  pgdata:      